<footer class="main-footer">
  
    <div class="main-footer__container kioto-container">
        <picture class="main-footer__img">
            <source srcset="./assets/images/logokioto-alpha.png?as=webp" type="image/webp" />
            <img src="./assets/images/logokioto-alpha.png?" alt="Kioto web" class="" />
        </picture>  
        <div class="main-footer__col main-footer__col--nav">
            <h3 class="main-footer__title">Navegación</h3>
            <ul class="main-footer__list">
                <li><a href="#inicio" class="main-footer__link">Inicio</a></li>
                <li><a href="#gion" class="main-footer__link">Gion</a></li>
                <li><a href="#kiyomizudera" class="main-footer__link">kiyomizudera</a></li>
                <li><a href="#kinkakuji" class="main-footer__link">kinkaku-ji</a></li>
                <li><a href="#fushimi-inari" class="main-footer__link">Fushimi Inari</a></li>
                <li><a href="#arashiyama" class="main-footer__link">Arashiyama</a></li>
            </ul>
        </div>
        
        <div class="main-footer__col main-footer__col--legal">
            <h3 class="main-footer__title">Información Legal</h3>
            <ul class="main-footer__list">
                <li><a href="" class="main-footer__link">Aviso Legal</a></li>
                <li><a href="" class="main-footer__link">Política de Privacidad</a></li>
                <li><a href="" class="main-footer__link">Contacto</a></li>
                <li>Imágenes principales: Recopilación bajo **Licencia de Freepik** y **Creative Commons** (BY).
                <a href="https://support.freepik.com/s/article/Attribution-How-when-and-where?language=es" target="_blank" rel="noopener noreferrer" class="footer__credits-link">
                Ver lista completa de autores y licencias.
            </a></li>
            </ul>
        </div>
        
        <div class="main-footer__col main-footer__col--copyright">
            <p class="main-footer__text main-footer__text--bold">
                Kioto Tradicional
            </p>
            <p class="main-footer__text">
                M4.258 - Eines HTML i CSS II | Herramientas HTML y CSS II - Aula 1
            <p class="main-footer__text main-footer__text--small">
                &copy; 2025. Daniel Magro Martínez.
            </p>
        </div>
    </div>
</footer>