<header class="main-header">
    <nav id="main-menu" class="main-nav">
        <div class="main-nav">
        <picture>
            <source srcset="./assets/images/logokioto-alpha.png?as=webp" type="image/webp" />
            <img src="./assets/images/logokioto-alpha.png?" alt="Kioto web" class="main-nav__logo" />
        </picture>
        <a href="#inicio" class="main-nav__title">Kioto Tradicional</a>
        </div>
        
        <div class="main-nav__right">
            <ul class="main-nav__list">
                <li class="main-nav__item"><a href="#inicio" class="main-nav__link">Inicio</a></li>
                <li class="main-nav__item"><a href="#gion" class="main-nav__link">Gion</a></li>
                <li class="main-nav__item"><a href="#kiyomizudera" class="main-nav__link">Kiyomizudera</a></li>
                <li class="main-nav__item"><a href="#kinkakuji" class="main-nav__link">Kinkaku-Ji</a></li>
                <li class="main-nav__item"><a href="#fushimi-inari" class="main-nav__link">Fushimi Inari</a></li>
                <li class="main-nav__item"><a href="#arashiyama" class="main-nav__link">Arashiyama</a></li>

            </ul>

            <button class="main-nav__toggle" aria-expanded="false" aria-controls="main-menu">
                <span class="fas fa-bars"></span> 
            </button>

        </div>

    </nav>
</header>