@use "sass:color";
@use "./utils/functions" as func;

// -----------------------//
// VARIABLES GENERALES
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;
$uoc-corporate: #000078;
$uoc-masterbrand: #73edff;
$uoc-bg: color.scale($uoc-masterbrand, $lightness: 70%);

// -----------------------//
//VARIABLES REQUERIDAS POR EL HEADER (para resolver el error)
// -----------------------//
$color-white: #fff;
$uoc-bg-light: $color-white; // Fondo claro
$uoc-corporate-light: #aaa;  // Gris de los separadores


// MEDIA BREAKPOINTS (Mobile First)
$mq-desktop-width: func.rem(768);
$mq-min-width: func.rem(420);
$mq-desktop-start: func.rem(768);

//-----------------------//
// VARIABLES (Kioto específicas)
//-----------------------//

$color-kioto-bg: #83958f;     
$color-kioto-secondary: #FF3B3F; 
$color-kioto-container: #fff8f0; 
$color-kioto-title: #1d3557;  
$color-kioto-subtitle: #a66249; 

$color-kioto-sakura-bg: #ff6f61;     
$color-kioto-sakura-secondary: #FF3B3F; 
$color-kioto-sakura-container: #FFEBE1; 
$color-kioto-sakura-title: #2D2D2D;  
$color-kioto-sakura-subtitle: #a8763e; 

$color-kioto-primary: #a8763e;       
$color-kioto-secondary: #c0392b;    
$color-kioto-text: #333333;         
$color-kioto-white: #fff;            
$color-kioto-light-bg: #fafafa;      
